$cgrstrong: #333333;
$cgrligth: #999999;
$complete: 100%;
$cgrmed: #666666;

.cardItem {
  height: 20vh;
  width: $complete;
  display: flex;
  align-items: center;
  border-bottom: $cgrligth solid 1px;
  padding: 10px;
  text-decoration: transparent;
  color: $cgrstrong;
  flex-wrap: wrap;
}
.cardItem:last-child {
  border-bottom: none;
}
.cardItem img {
  object-fit: contain;
  max-width: 15vw;
  width: $complete;
  height: 15vh;
}
.cardItem_info {
  padding-left: 5vw;
  font-size: 12px;
  font-weight: 400;
  width: 82%;
}
h4 {
  margin: 0 0 0 55px;
  font-size: 10px;
}
h3 {
  font-size: 12px;
  margin-left: 55px;
}
.cardItem_state {
  margin-left: 5vw;
  position: relative;
  top: -23px;
}

@media screen and (min-width: 700px) {
  .cardItem {
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 6px;
    img {
      width: 180px;
      height: 180px;
    }
  }
  .cardItem_info {
    padding-left: 16px;
    h2 {
      font-size: 18px;
    }
    h1 {
      margin: 32px 0;
      font-size: 24px;
    }
  }

  .cardItem_state {
    position: static;
    h3 {
      font-size: 12px;
      margin-right: 60px;

      color: $cgrmed;
    }
  }
}
