.cardItem {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: rgba(128, 128, 128, 0.24) solid 1px;
  padding: 10px;
  text-decoration: transparent;
  color: rgba(21, 21, 22, 0.938);
  flex-wrap: wrap;
}
.cardItem:last-child {
  border-bottom: none;
}
.cardItem img {
  object-fit: contain;
  max-width: 15vw;
  width: 100%;
  height: 15vh;
}
.cardItem_info {
  padding-left: 5vw;
  font-size: 8px;
  font-weight: 400;
  width: 82%;
}
h4 {
  margin: 0 0 0 55px;
  font-size: 10px;
}
.cardItem_info--freeship img {
  width: 30px;
  height: 30px;
  margin-left: 1vw;
}
.cardItem_state {
  margin-left: 5vw;
  position: relative;
  top: -23px;
}

@media screen and (min-width: 700px) {
  .cardItem {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .cardItem_info {
    padding-left: 1vw;
    font-size: 14px;
  }

  .cardItem_state {
    margin-left: 5vw;
    position: static;
  }
}
