$bgyelow: #ffe600;
$bgwhite: #fdfff5;
$cgrstrong: #333333;
$cgrligth: #999999;
$complete: 100%;

.App-header {
  background-color: $bgyelow;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  color: $bgwhite;

  justify-content: center;
}
.App-header_form {
  padding-right: 10px;
  display: flex;
  width: 80vw;
}
@mixin placeholder($color, $size) {
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $size;
  }
  &:-moz-placeholder {
    color: $color;
    font-size: $size;
  }
  &::-moz-placeholder {
    color: $color;
    font-size: $size;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-size: $size;
  }
}
.App-header-input {
  width: 290px;
  border: $bgwhite;
  color: $cgrstrong;
  border-radius: 4px 0px 0px 4px;
  outline: transparent;
  @include placeholder($cgrligth, 16px);
}
.App-hearder_container-logo {
  margin: 5px;
  width: 45px;
  height: 35px;
}
button {
  border: none;
  width: 40px;
  height: 33px;
  padding: 0;
  border-radius: 0px 4px 4px 0px;
  img {
    width: 17px;
    height: 17px;
    margin-left: 2px;
  }
}
@media screen and (min-width: 700px) {
  .App-header {
    width: $complete;
    height: 50px;
  }
  .App-hearder_container-logo {
    width: 57px;
    height: 40px;
  }
  .App-header_form {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    height: 80%;
    margin: 0 10px;
    padding: 0;
    width: 57%;
  }
  .App-header-input {
    width: 54vw;
    padding-left: 22px;
    height: 33px;
    font-size: 1.5em;
    @include placeholder($cgrligth, 18px);
  }
}
