.App {
  background-color: #eeeeee;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
}

/* Searcher */

.App-header {
  background-color: #ffe600;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}
.App-header_form {
  display: flex;
  height: 80%;
  margin: 0 10px;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.App-header_container {
  display: flex;
  height: 50px;
  align-items: center;
}
.App-header-input {
  width: 65vw;
  height: 33px;
  border: white;
  border-radius: 4px 0px 0px 4px;
  padding-left: 22px;
  outline: #999999;
  font-size: 1.5em;
  color: #333333;
}
button img {
  width: 17px;
  height: 17px;
  margin-left: 2px;
}

button {
  border: none;
  width: 40px;
  height: 33px;
  padding: 0;
  border-radius: 0px 4px 4px 0px;
}

.App-hearder_container-logo {
  margin: 5px;
  with: 20px;
  height: 35px;
}

h4 {
  margin: 0;
  line-height: 2.5em;
  color: rgba(65, 66, 68, 0.6);
  font-size: 0.8em;
  font-weight: 400;
}
.topProducts {
  background-color: white;
  height: 90vh;
  width: 75vw;
}

/* BreadCrum */

.breadcrum {
  width: 75vw;
  color: #333333;

  font-size: 1em;
  margin: 16px 0;
}

/* Div Render */

.App_render {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TOP PRODUCT */

.topProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.topProducts_img {
}
.topProducts_img img {
  object-fit: cover;
  width: 680px;
}
.topProducts_info h2 {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 24px;
}
.topProducts_info h1 {
  font-size: 46px;
}
.topProducts_info p {
  font-size: 14px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.topProducts_info button {
  width: 100%;
  border-radius: 3px;
  color: white;
  background-color: blue;
}
.topProducts_description {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.topProducts_description p {
  font-size: 16px;
}
