.App {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.App-header {
  background-color: #ffe600;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  color: white;

  justify-content: center;
}
.App-header_form {
  padding-right: 10px;
  display: flex;
  width: 80vw;
}
.App-header-input {
  width: 290px;
  border: white;
  color: #333333;
  border-radius: 4px 0px 0px 4px;
}
.App-hearder_container-logo {
  margin: 5px;
  width: 50px;
  height: 40px;
}
button img {
  width: 17px;
  height: 17px;
  margin-left: 2px;
}
button {
  border: none;
  width: 40px;
  height: 33px;
  padding: 0;
  border-radius: 0px 4px 4px 0px;
}
.App_render {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.breadcrum {
  width: 100vw;
  margin: 8px 0;
  padding-left: 11px;
}
.breadcrum a {
  text-decoration: transparent;
  color: #999999;
  font-size: 14px;
}
.topProducts {
  background-color: white;
  width: 95vw;
  height: auto;
  padding: 0px 14px;
  color: rgb(32, 30, 30);
  border-radius: 3px;
}
.topProducts_img img {
  width: 300px;
}
.topProducts_img {
  display: flex;
  justify-content: center;
}
.topProducts_img,
.topProducts_description {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.topProducts_info h2 {
  font-size: 20px;
}
.topProducts_info h1 {
  font-size: 46px;
  font-weight: 300;
  margin: 20px 0px;
}
.topProducts_info p {
  font-size: 14px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.topProducts_info button {
  width: 100%;
  border-radius: 3px;
  color: white;
  background-color: #3483fa;
  margin: 0;
  font-size: 20px;
}

.topProducts_description h2 {
  font-size: 22px;
  font-weight: 500;
  margin: 12px 0;
}
.topProducts_description p {
  font-size: 14px;
  margin: 10px 0;
}
/* CARDSITEMS */

.containerCards {
  background-color: white;
  width: 95vw;
  border-radius: 3px;
}

.cardItem {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: rgba(128, 128, 128, 0.24) solid 1px;
  padding: 10px;
  text-decoration: transparent;
  color: rgba(21, 21, 22, 0.938);
  flex-wrap: wrap;
}
.cardItem:last-child {
  border-bottom: none;
}
.cardItem img {
  object-fit: contain;
  max-width: 15vw;
  width: 100%;
  height: 15vh;
}
.cardItem_info {
  padding-left: 5vw;
  font-size: 8px;
  font-weight: 400;
  width: 82%;
}
h4 {
  margin: 0 0 0 55px;
  font-size: 10px;
}
.cardItem_info--freeship img {
  width: 30px;
  height: 30px;
  margin-left: 1vw;
}
.cardItem_state {
  margin-left: 5vw;
  position: relative;
  top: -23px;
}
@media screen and (min-width: 600px) {
  /* Searcher */
  .App-header {
    width: 60%;
    height: 50px;
  }
  .App-header_form {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 80%;
    margin: 0 10px;
    padding: 0;
  }
  .App-header-input {
    width: 54vw;
    padding-left: 22px;
    height: 33px;
    font-size: 1.5em;
  }
  /* BreadCrum */
  .breadcrum {
    width: 60vw;
    padding-left: 15px;
    margin: 16px 0;
  }
  /* Div Render */
  .App-render {
    padding: 0 10px;
    height: 100vh;
  }
  /* TOP PRODUCT */
  .topProducts {
    width: 55vw;
    display: flex;
    flex-wrap: wrap;
  }
  .topProducts_img {
    width: 680px;
  }
  .topProducts_img img,
  .topProducts_description {
    width: 680px;
  }
  .topProducts_info {
    width: 300px;
  }
  .topProducts_info h2 {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 24px;
  }
  .topProducts_info h1 {
    margin: 27px 0px;
  }
  .topProducts_info p {
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .topProducts_description {
    margin-bottom: 10px;
    width: 680px;
    padding-left: 2vw;
  }
  .topProducts_description h2 {
    font-weight: 300;
    font-size: 26px;
  }
  .topProducts_description p {
    font-size: 16px;
    margin: 15px 0;
  }
  /* CARDSITEMS */

  .containerCards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    width: 60vw;
  }
  .cardItem_info {
    width: 500px;
    padding-left: 1vw;
    font-size: 1rem;
  }

  .cardItem_state {
    margin-left: 5vw;
    position: static;
  }
}
