$cgrligth: #999999;

.breadcrum {
  width: 100vw;
  margin: 0px 0;
  padding-left: 11px;
  p {
    color: $cgrligth;
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .breadcrum {
    width: 60vw;
  }
}
